<html>
<head>
  <title>About Us</title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/signin.css" type="text/css">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Welcome to BodyBuddy!</p>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form action="/login" method="post" class="navbar-form navbar-right" role="form">
          <button type="submit" class="btn btn-success">Sign In</button>
          <button type="submit" class="btn btn-success">Register</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="about_bg">
    <div class="about_head">
      <h1> Need some motivation? </h1> <h1> BodyBuddy is your solution! </h1>
      <p id="about_text"> It's easy to lose track of your fitness goal. Here at BodyBuddy, we believe that a regular schedule and a little motivation can help get you in shape. Our team of fitness experts has assembled four simple workout plans, designed especially with your fitness goal in mind. Whether you're looking to build muscle, improve your cardio, lose weight, or work on your flexibility, we have you covered. Register now!</p>
    </div>
  </div>
</body>