  <!DOCTYPE html>

  <html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css" type="text/css">
<script>

$(document).ready(function() {
	$("#icon1").click(function(){
		var change = confirm("Are you sure you want to change your fitness goal?");
		if (change) {
			reset_icons();
	   		$("#icon1").attr("src", "/img/goals/g_strength_on.png");
	    	$(selection).html("<h3>Strength</h3>");
		}
	});
	$("#icon2").click(function(){
		var change = confirm("Are you sure you want to change your fitness goal?");
		if (change) {
			reset_icons();
	    	$("#icon2").attr("src", "/img/goals/g_cardio_on.png");
	    	$(selection).html("<h3>Cardio</h3>");
	    }
	});
	$("#icon3").click(function(){
		var change = confirm("Are you sure you want to change your fitness goal?");
		if (change) {
			reset_icons();
	   	 	$("#icon3").attr("src", "/img/goals/g_weight_on.png");
	   	 	$(selection).html("<h3>Weight Loss</h3>");
	   	 }
	});
	$("#icon4").click(function(){
		var change = confirm("Are you sure you want to change your fitness goal?");
		if (change) {
			reset_icons();
	   		$("#icon4").attr("src", "/img/goals/g_flex_on.png");
	    	$(selection).html("<h3>Flexibility</h3>");
	    }
	});

	function reset_icons() {
		$("#icon1").attr("src", "/img/goals/g_strength_off.png");
		$("#icon2").attr("src", "/img/goals/g_cardio_off.png");
		$("#icon3").attr("src", "/img/goals/g_weight_off.png");
		$("#icon4").attr("src", "/img/goals/g_flex_off.png");
	}
});
	   
</script>
</head>

 <body>

 	<div class='top-banner'><h1 class='custHead'>Edit Profile</h1></div>

 	<div class="container">
 		<form action="http://bodybuddy.herokuapp.com/editprofile" method="POST">
 		<div class="page">
 		<div class="cust-row">
				<h3>Personal info</h3>	
				<p>Edit your personal and contact info here</p>
				<div class="spacer"></div>
				<div class="input-group">
  					<span class="input-group-addon">First Name</span>
  					<input type="text" name="firstname" class="form-control" placeholder="Body">
				</div>
				<div class="spacer"></div>
				<div class="input-group">
  					<span class="input-group-addon">Last Name</span>
  					<input type="text" name="lastname" class="form-control" placeholder="Buddy">
				</div>
				<div class="spacer"></div>
				<div class="input-group">
  					<span class="input-group-addon">Email</span>
  					<input type="text" name="email"  class="form-control" placeholder="bodybuddy@gmail.com">
				</div>
				<div class="spacer"></div>
				<div id="innerleftcol">
					<h4> Birthday </h4>
					<div class="input-group">
  					<span class="input-group-addon">Birthday</span>
  					<input type="text" name="birthday" class="form-control" placeholder="MM/DD/YYYY">
					</div>
				</div>
				<div id="innerrightcol">
					<div id="innerleftcol">
					<h4> Gender </h4>
      					<input type="radio" id="gender" name="gender" value="female"> Male
      					<br>
        				<input type="radio" id="gender" name="gender" value="male"> Female	
					</div>
					<div id="innerrightcol">
      					<div id="innerrightcol">
              				<input type="submit" value="Submit" class="btn btn-default btn-lg" id="submit">
							</input> 
						</div>
					</div>
				</div>
				<br>
				<div class="spacer"></div>
				<div class="spacer"></div>
				<br>
				<h3>Fitness info</h3>
				<p>My Fitness Goal</p>
				<div id="innerleftcol">
					<div class="input-group">
  					<span class="input-group-addon">Height (ft) </span>
  					<input type="text" name="height" class="form-control" placeholder="5'11">
					</div>
				</div>
				<div id="innerrightcol">
					<div class="input-group">
  					<span class="input-group-addon">Weight (lbs.) </span>
  					<input type="text" name="weight" class="form-control" placeholder="150">
					</div>
				</div>
				<br>
				<div class="spacer"></div>
				<div class="spacer"></div>
				<br>
				<div>
					<div class='g_icon'><img id='icon1' src='/img/goals/g_strength_off.png' style="cursor: pointer;" ></div>
					<div class='g_icon'><img id='icon2' src='/img/goals/g_cardio_off.png' style="cursor: pointer;" ></div>
					<div class='g_icon'><img id='icon3' src='/img/goals/g_weight_off.png' style="cursor: pointer;" ></div>
					<div class='g_icon'><img id='icon4' src='/img/goals/g_flex_off.png' style="cursor: pointer;" ></div>
				</div>
				<div id='selection'><h3>Please select a goal</h3></div>
			</div>
		</div>
	</form>
 	</div>
 	<div class="bottom"><img id="logo" src="/img/bblogo.png" alt="Body Buddy Logo"></div>
 </body>

 </html>