<html>
<head>
  <title>BodyBuddy</title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css" type="text/css">
</head>

<body>
	
	<div class="site-wrapper">
	<div class="site-wrapper-inner" style="z-index: 99;">
	<div class="top-banner">
	<img src="/img/bblogo.png" alt="logo">
	</div>
	<div class="cover-container" style="text-align: center;">
		<div class="masthead clearfix">
			<div class="inner">
				<div class="center-text">
					<h1 class="cover-heading">Welcome to BodyBuddy!</h1>
					<div class="spacer"></div>
					<div class="mid-image"><img src="/img/icons_blue.png" alt="logo"></div>
					<div class="spacer"></div>
					<p class="lead">BodyBuddy helps you visualize your health and progress over time. Easily set and view goals using our free all-in-one service.</p>
					<div class="spacer"></div>
					<ul class="nav masthead-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="login">Login</a></li>
					<li><a href="signup">Sign up</a></li>
					<li><a href="about">About</a></li>
				</ul>
				</div>
			</div>
		</div>
		<div class="mastfoot">
			<div class="inner">
				<p>Copyright © 2014 BodyBuddy</p>
			</div>
		</div>
	</div>
	</div>
	</div>
</body>
</html>