<!DOCTYPE html>


<head>
  <title>Fit Tracker</title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css" type="text/css">
</head>

<body>
	<div class="site-wrapper">
	<div class="site-wrapper-inner" style="z-index: 99;">
	<div class="cover-container" style="text-align: center;">
		<div class="masthead clearfix">
			<div class="inner">
				<h3 class="masthead-brand">Fit Tracker</h3>
				<ul class="nav masthead-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="login.html">Login</a></li>
					<li><a href="signup.html">Sign up</a></li>
				</ul>
			</div>
		</div>
		<div class="inner cover">
			<h1 class="cover-heading">Fitness is a human right.</h1>
			<p class="lead">Fit Tracker helps you visualize your health and progress over time. Easily set and view goals using our free all-in-one service.</p>
			<p class="lead"><a href="signup.html" class="btn btn-lg btn-default">Sign up</a></p>
		</div>
		<div class="mastfoot">
			<div class="inner">
				<p>Copyright ©2014 Fit Tracker</p>
			</div>
		</div>
		<!-- <img src="/img/ft_logo.png" id="homeimage" alt"homepage image"> -->
	</div>
	</div>
	</div>
</body>