/* ------------------------------------------------------------
    CSS for index.html
    Taken from getbootstrap.com/examples/cover 11/6/2014
   ------------------------------------------------------------ */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #FFFFFF;
}
body {
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  background-color:#FFFFFF;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #AAA; /* IE8 proofing */
  color: rgba(255,255,255,.7);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* --------------------------------------------------------------------
      Custom CSS

   -------------------------------------------------------------------- */

body {
  background-color:#FFFFFF;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.cust-row {
  color:#018CF3;
  text-shadow:none;
}

.left-col {
  position:relative;
  float:left;
  display:inline-block;
  width:50%;
}

.right-col {
  position:relative;
  float:left;
  display:inline-block;
  width:50%;
}

.masthead, .clearfix, .cover-container, .mastfoot {
  background-color:transparent;
  border-radius: 25px;
  position: relative;
  display: inline-block;
  float: left;
}

.masthead, .mastfoot {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.top-banner {
  color:#018CF3;
  width:100%;
}

.cover-text {
  position:center;
}

.cover-text {
  padding-left: 50px;
  padding-right: 50px;
}

.cover-container {
  background-color:#018CF3;
  border-radius: 25px;
  min-height: 100%;
  width: 800px;
  margin:25px;
  float: none;
}

.spacer {
  min-height: 15px;
}

.g_icon {
  width: 20%;
  display: inline-block;
}

.alert-danger {
  display:none;
}

.inner_container {
  width: 50%;
  float: right;
}

.custHead {
  font-style: none;
}

.page {
  max-width: 70%;
  margin-left: 15%;
}

.bottom {
  margin: 35px;
  padding: 20px;
  color: white;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 10px;
}

img#logo {
  display: block;
  max-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#innerleftcol {
  width: 50%;
  float: left;
  font-size: 16px;
  color: grey;
}

#innerrightcol {
  margin-left: 52%;
}

#val_button {
  float:right;
}

#selection {
  font-style: italic;
}
